
.edit{
    /* opacity: 0.5; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    text-align: center;
    padding: 10px; 
    background-color:#7c9473!important
  
}
.edit input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.edit input{
    border: none;
    font-size:25px;
    height: 30px;
    width: 200px;
    margin: 5px;
    
    border: none; 
    background-color: #7c9473;
    border-bottom: 1px solid white;
    /* border-bottom: 10px solid #e8e8e8;  */
    /* border-radius: %; */
}

.edit > input:focus{
    outline-width: 0;
}
.edit__btn {
    color:#ECAC46!important;
    font-weight : bold !important ;
    font-size: 20px !important;
    border: 1px solid #ECAC46!important;

} 
.edit__btn:hover{
    background-color: white!important;
    border: 1px solid white!important;

}
.edit__img{
    width: 200px;
    height: 200px  
}