@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.login{
    height: 20vh;
    width: 30vh;
}

.input{
    display: flex;
    border-bottom: 10px solid pink ;
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    overflow: hidden;
    /* align-items: center;
    justify-content: center; */
}
.login__button{
    font-family: 'Nunito', sans-serif!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    width: 2vh;
    height: 5vh;
    left: 11.6vh!important;
    font-size: 15px !important;
    padding: 10px !important;
    color: #515751!important;
    font-weight : bolder !important ;
    border-color: #515751!important;

}
.login input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.login input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.login input:focus {
    outline-width: 0;
}

.login input {
    font-size: 25px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 150px;
    margin-left: 10px;
}