

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__button{
    font-weight : bold !important ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 15px !important;
    padding: 10px !important;
    margin-left: 10px !important;
    border-radius: 25px !important;
    font-family: 'Comfortaa', cursive !important;
    font-weight : bold !important ;
}
.login input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.login input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.login input:focus {
    outline-width: 0;
}

.login input {
    font-size: 25px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 150px;
    border-radius: 25px;
    margin-left: 10px;
}