@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.login{
    height: 20vh;
    width: 30vh;
}

.input{
    display: flex;
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    overflow: hidden;
    color: white;
    ;
}
.input > input{
background-color: #7c9473;
color: white;

;
}
.login__button{
    font-family: 'Nunito', sans-serif!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    font-size: 1.9vh !important;
    width: 15vh!important;
    height: 6.5vh!important;
    left: 6vh!important;
    padding: 10px !important;
    border-color: white!important;
    color: white!important;
    font-weight : bolder !important ;

}
.login__button:hover{
    background-color: white!important;
    color: #7c9473!important;
    
    
    }
::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
    color: white;

}

.login input:focus {
    outline-width: 0;
    color: white;

}

.login input {
    font-size: 25px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 150px;
    margin-left: 10px;
   color: white;
}