@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar{
    margin-top: 5px;
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;}
.navbar h1 {
    font-family: 'Poppins', sans-serif;
    color: #7c9473;
    cursor: pointer;
    /* font-size: 80px; */
    font-size: 10vh;
    right: 40px;
}
.navbar__logo{
    height: 50px;
    margin-left: 20px;
    color: #7c9473 !important;
}
.navbar__center{
    position: absolute;
    left: 400px;
    display: flex;
    justify-content: center;



}
.navbar__icon{
    /* display: flex;
    align-items: left;
    justify-content: center; */
    position:absolute;
    right: 330px;
    width: 140vw;
    margin-left: 50px;
    color: #7c9473 !important;
    font-size: 150% !important ;
    /* background-color: black; */
}

.navbar__cart{
    z-index: 999;
    position: absolute;
    right: 300px;
    bottom: 110px;

}

.navbar__right{
margin-left: 700px!important;
}

.navbar h4 {
    font-family: 'Poppins', sans-serif;
    color: #7c9473 ;
}
.navbar__logout {
    color: #a20a0a!important;
    height: 50px;
    font-family: 'Nunito', sans-serif!important;
    font-weight : bold !important ;
}
