@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.notes{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif!important;
   margin-left: 35vh;
   align-items: center;
   justify-content: center;
width: 60vw;
border-radius: 15px;
height: 60vh;

}

.note__container{
display: flex;
align-items: center;
justify-content: center;
}

.notes h3{
font-family: 'Nunito', sans-serif!important;
}
.notes h4{
font-family: 'Nunito', sans-serif!important;
}
.single__note{
    background-color: #7c9473!important;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align:center;
    align-items: center;
    justify-content: center;
    /* size: 1000px!important; */
    margin-top: 550px;
    height: 90vh;
    width: 150vh;
    font-size: 30px; 
    text-align: center !important; 
}


.single__note:hover{
    /* transform: scale(1.05) */
}

.single__noteInfo{
display: flex;
flex-direction: column;
margin: 150px;
width: 70vh;
height: 55vh;
object-fit: cover;
}

.single__note img {
    width: 60vh;
    height: 50vh ;
    margin: 15=0px;
    margin-left: 15px;
}

.add__cart{
    /* border: 2px solid black; */
    background-color: white;
    /* box-shadow: 0px 6px 18px -9px #515751; */
    border-radius: 15px;
    color: #515751 !important;
    cursor: pointer;
    font-size: 200% !important ;
    text-align: center !important;
}
.add__cart:hover{
    box-shadow: 0px 6px 18px -9px white;

}


.user__comment::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align-last:justify;
}
.user__comment{
    font-size:25px;
    height: 10vh;
    width: 40vh;
    border-radius: 10px;

    border: none;
    /* border-bottom: 10px solid #e8e8e8;  */
    /* border-radius: %; */
}
.user__comment:focus{
    outline-width: 0;
}
.radio__btn {
    display: none;
   
 }
 .review__btn{
    font-weight : bold !important ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 5vh;
    font-size: 15px !important;
    padding: 10px !important;
    margin-left: 10px !important;
    border-radius: 25px !important;
    font-family: 'Nunito', sans-serif!important;
    font-weight : bold !important ; 
}

.Review{
    /* display: flex;
    flex-direction:column; */
    background-color: #faf6e9!important;
        border-radius: 10px;
        box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
        /* transition: transform 100ms ease-in; */
        cursor: pointer;
        text-align: center;
        padding: 10px; 
        border: 1px #606470;
        width: 130vh;
        margin-left: 40px;
        /* margin-top: 500px; */
}
.Review h2 {
        color: #111f4d; ;
}

.users{
    margin-left: auto;
    color:#494949 ;
    text-align: right !important;
}

    .comments{
        font-weight: bolder !important;
        margin-left: auto;
        color: #111f4d;
       
        text-align: left !important;
}