@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.note{
    margin: 10px;
    background-color: #F5F9E9!important;
    border-radius: 15px;
    /* box-shadow: 0px 6px 18px -9px #515751; */
    /* transition: transform 100ms ease-in; */
    cursor: pointer;
    text-align: center;
    padding: 5px; 
    margin-bottom: 10px;
     /* background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    padding: 20px;
    font-size: 30px; */
    /* text-align: center !important;  */
    width: 300px;
    height: 400px;
    border: 1px solid black 
}


.note:hover{
box-shadow: 0px 6px 18px -2px white;
}

.note__reviews{
    display: flex;
align-items: left;
justify-content: left;
font-size: 20px;
margin-left: 10px;
}
.note__info{
    display: flex;
    flex-direction: column;
    background-color: #515751;
    border-radius: 10px;
    color: #F5F9E9;

}
.note__star{
   display: flex; 
   align-items: right;
   justify-content: right;
   margin-left: 10px;
}

.note h2 {
  display: flex;  
  justify-content: center;

}


.note img {
    width: 280px;
    height: 250px
}

