@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.note{
    margin: 1.5vh;
    background-color: white!important;
    border-radius: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
    text-align: center;
    padding: 5px; 
    margin-bottom: 10px;
    width: 40vh;
    height: 40vh;
}


.note:hover{
transform: scale(1.04);
box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);

}

.note__reviews{
    display: flex;
align-items: left;
justify-content: left;
font-size: 2vh;
margin-left: 2px;
}
.note__info{
    display: flex;
    flex-direction: column;
    background-color: #7c9473;
    border-radius: 5px;
    color: #F5F9E9;
    /* height: 20vh; */
}
.note__star{
   display: flex; 
   align-items: right;
   justify-content: right;
   margin-left: 10px;
}

.note h2 {
  display: flex;  
  justify-content: center;

}


.note img {
    width: 20vh;
    height: 20vh
}

