.note__grid{
    /* display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    width: 1000px;
    text-align: center;
    padding: 10px; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto  ;
    background-color: #2196F3;
    padding: 10px;

}

.note{
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    text-align: center;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.8);
     /* background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    padding: 20px;
    font-size: 30px; */
    /* text-align: center !important;  */
}
.edit{
    background-color: #f2d974!important;
    opacity: 0.5;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    text-align: center;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.8);

    background-color: rgba(255, 255, 255, 0.8);
    /* width: 1000px;
    padding: 20px;
    font-size: 30px;  */
    /* text-align: center !important;  */
}
.user__note{
    margin-left: 400px !important;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    text-align: center;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.8);
     /* background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    padding: 20px;
    font-size: 30px; */
    /* text-align: center !important;  */
    max-width: 50%
}

.note:hover{
    transform: scale(1.05)
}
.user__note:hover{
    transform: scale(1.05)
}



.note__reviews{
flex-direction: column;
align-items: left;
justify-content: left;
font-size: 20px;
}
.note__star{
   display: flex; 
   align-items: right;
   justify-content: right;
}

.note h2 {
  display: flex;  
  justify-content: center;
  align-self: flex-end;
}
/* .note__star > p > .MuiSvgIcon-root {
   
} */

.user__comment::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align-last:justify;
}

.user__comment{
    border: none;
    font-size:25px;
    height: 75px;
    width: 200px;
    border-radius: 25px;

    /* border: none; */
    /* border-bottom: 10px solid #e8e8e8;  */
    /* border-radius: %; */
}
.user__comment:focus{
    outline-width: 0;
}
.radio__btn {
   display: none;
  
}
.add__cart{
    cursor: pointer;
    font-size: 200% !important ;
    text-align: left !important;
}
.review__btn{
    font-weight : bold !important ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 15px !important;
    padding: 10px !important;
    margin-left: 10px !important;
    border-radius: 25px !important;
    font-family: 'Comfortaa', cursive !important;
    font-weight : bold !important ; 
}
.header{
    font-size: xx-large!important;
    margin-top: 50;
}

.Review{
    background-color: #faf6e9!important;
        margin-left: 400px;
        border-radius: 25px;
        box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
        transition: transform 100ms ease-in;
        cursor: pointer;
        text-align: center;
        padding: 10px; 
        border: 1px #606470;
        max-width: 50%;
        /* background-color: rgba(255, 255, 255, 0.8);
        width: 1000px;
        padding: 20px;
        font-size: 30px;
        text-align: center; */
        
    }
    .comments{
        font-weight: bolder !important;
        margin-left: auto;
        color: #111f4d;
       
        text-align: left !important;
}
.Review h2 {
    color: #111f4d; ;
}
.users{
    margin-left: auto;
    color:#494949 ;
    text-align: right !important;
}
.edit input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.edit input{
    border: none;
    font-size:25px;
    height: 30px;
    width: 200px;
    border-radius: 25px;
    border: none; 
    /* border-bottom: 10px solid #e8e8e8;  */
    /* border-radius: %; */
}

.edit > input:focus{
    outline-width: 0;
}
.edit__btn {
    color: #7d0633 !important;
    font-weight : bold !important ;
    font-size: 20px !important;

} 
.note img {
    width: 200px;
    height: 200px
}
.notes img {
    width: 500px;
    height: 400px 
}
.edited{
    width: 200px;
    height: 200px  
}