@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    overflow-y: scroll;

}
body::-webkit-scrollbar {
    display: none;
}
.main__portal{
 display: flex;
 height: 225vh;
 background-color:white!important;
}

.portal{
 background-color:white;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 300px;
}
.header{
    position: relative;
    height: 225vh;
    width: 50%;
    background-color: white;
}
.main__header{
color: #272727;
font-size:5vw;
z-index: 2;
position: fixed;
/* display: flex; */
top:50px;
left:50px;
/* justify-content: center;
align-items: center; */
font-family: 'Poppins', sans-serif;
object-fit: cover;
color: #7c9473;
object-fit: contain;
/* background-color:#515751; */
/* box-shadow: 0 4px 2px -2px #515751; */
/* box-shadow: 0px 0px 18px -10px rgba(0,0,0,0.75); */
/* border-radius: 25px; */

/* width: 50%; */
}

.header h2{
font-family: 'Mali', cursive;
color:#F5F9E9;
position: fixed;
top: 1200px;


}
.header p{
    z-index: 999;
font-size:2vw;
font-weight: bolder;
position: fixed;
top:270px;
left:70px;
color:#7c9473;
font-family: 'Mali', cursive;
/* font-size: 30px; */
object-fit: cover;
width: 80%;
}
.header ul {

 font-size:2vw;
/* opacity: 0.2; */
color:#cfdac8;
position: absolute;
top: 268px;
left: 200px;
list-style-type: none;
}


.user__portal{
    position: fixed;
    cursor: pointer;
    margin-left: 50px;
    padding: 40px;
    height: 70vh;
    width: 45vh;
    background-color:#7c9473;
    border-radius: 30px;
    opacity: 1;
    border: 20px solid #7c9473;
    /* box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75); */
    /* transition: transform 100ms ease-in; */
}

.user__portal h2 {
/* border: 1px solid  white; */
color: white;
font-size: 3vh;
display: flex;
justify-content: center;
align-items: center;
margin-left: 3vh;
}
