.search{
    display: flex;
    justify-content: center;
    
}
.search input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.search input{
    border: none;
    font-size:25px;
    height: 30px;
    width: 600px;
    border-radius: 25px;
    /* border: none; */
    /* border-bottom: 10px solid #e8e8e8;  */
    /* border-radius: %; */
}

.search > input:focus{
    outline-width: 0;
}











