.search{
    display: flex;
    justify-content: center;
    
}

.serach__input{
    height: 30px;
    width: 600px;
    border-radius: 25px;
    /* border: none; */
    /* border-bottom: 10px solid #e8e8e8;  */
    /* border-radius: %; */
}

.search > input:focus{
    outline-width: 0;
}