
.shopping{
    background-color: #7c9473;
    position: fixed;
    height: 175px;
    width: 150px;
    padding: 20px;
    align-items: center;
    border-radius: 10px
}
.shopping p {
    font-weight : bold !important ;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping h5 {
    font-weight : bold !important ;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout{
    display: flex;
    right:1.8vh;
    align-items: center;
    justify-content: center;
    color: white!important;
    font-weight : bold !important ;
    font-size: 15px !important;
    border: 1px solid white!important;

    /* color: #456268 !important; */
}
.checkout:hover{
background-color: white!important;
color: #7c9473!important;
}