@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.sidebar{
display: flex;
justify-content: center;



}
.sidebar__new{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar__notes{
    border-bottom: 1px solid black !important;
}
.sidebar__new input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
}
.sidebar__new input:focus {
    outline-width: 0;
}
.sidebar__new input {
    border: none;
    padding: 10px;
    height: 15px;
    width: 175px;
    border-radius: 25px;
    margin-left: 10px;
    font-size:20px;
}
.sidebarNew__button{
    color: #0a043c !important;
    font-weight : bold !important ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 20px !important;
    padding: 10px !important;
    margin-left: 10px !important;
    border-radius: 25px !important;
    font-family: 'Nunito', sans-serif !important;
}
.sidebar h2 {
    margin: 8px;
    cursor: pointer;
    color: #515751;
}