.sidebar{
background-color: aqua;
display: flex;
justify-content: flex-start;
height: 100%;
width: 20%;
color: white;
flex: 0.3;
background-color: var(--slack-color);
border-top: 1px solid #49274b;
 max-width: 260px;
}