@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.sidebar{
display: flex;
justify-content: center;
/* background-color: #F5F9E9; */



}

.sidebar__new{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#515751;
    background-color: #cfdac8;
    border: 2px solid #cfdac8;
   border-radius: 5px;
}
.sidebar__notes > input{
    background-color: #cfdac8;
    border-bottom: 1px solid white!important;

}

.sidebar__new input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center; 
    color: white;
    border-bottom: 1px solid white;
    
}

.sidebar__new input:focus {
    outline-width: 0;
}
.sidebar__new input {
    border: none;
    padding: 10px;
    height: 40px;
    width: 300px;
    /* border-radius: 5px; */
    margin-left: 10px;
    font-size:20px;
}
#file{
z-index: 999;
font-size: small;
}
.sidebarNew__button{
    background-color: white!important;
    color: #7c9473 !important;
    font-weight : bold !important ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 20px !important;
    padding: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px !important;
    font-family: 'Nunito', sans-serif !important;
}

.sidebar h2 {
    cursor: pointer;
    color:white;
    /* border: 1px solid black; */
    border-radius: 5px;
    transition: transform 100ms ease-in;
    margin: 2vh;

}
#sidebar__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
    margin-right: 3vh;
    height: 7vh;
    border-radius: 5px;
    font-size: 2vh;
}
.sidebar h2:hover {
    transform: scale(1.04);
    /* box-shadow: 0px 6px 18px -9px white; */

}
