
.user__container{
    display: grid;
     grid-template-columns: auto auto ;
 
}
.user__note{
    margin: 15px;
    display: flex;
    font-family: 'Nunito', sans-serif!important;
   align-items: center;
   justify-content: center;
width: 45vw;
border-radius: 15px;
height: 30vh;
background-color: #7c9473!important;
    cursor: pointer;
    text-align: center;
}

.user__edit{
    color:#ECAC46!important;
    font-weight : bold !important ;
    font-size: 2vh !important;
}
.user__delete{
    color:#550C18!important;
    font-weight : bold !important ;
    font-size: 2vh !important;
}
.user__delete:hover{
    border: white!important;
    background-color: white!important;
}
.user__edit:hover{
    border: white!important;

    background-color: white!important;
}
.user__note img {
    width: 25vh;
    height: 25vh ;
}