.subject__main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.MuiButton-root{
    padding: 15px;
}
.subject__all{
    font-size: 20px !important;
    color:#6DA34D !important;
    border-color:#6DA34D !important

}
.subject__math{
    font-size: 20px !important;

    color:#56445D !important;
    border-color:#56445D !important
}
.subject__science{
    font-size: 20px !important;

    color:#548687 !important;
    border-color:#548687 !important
}
.subject__history{
    font-size: 20px !important;

    color:#56445D !important;
    border-color:#56445D !important
}
.subject__art{
    font-size: 20px !important;

    color:#8FBC94 !important;
    border-color:#8FBC94 !important
}
.subject__finance{
    font-size: 20px !important;

    color:#E6B89C !important;
    border-color:#E6B89C !important
}
.subject__economics{
    font-size: 20px !important;

    color:#75B9BE !important;
    border-color:#75B9BE !important
}
.subject__engineering{
    font-size: 20px !important;

    color:#E396DF !important;
    border-color:#E396DF !important
}

.subject__physics{
    font-size: 20px !important;

    color:#2D3047 !important;
    border-color:#2D3047 !important
}